
@font-face {
    font-family:Brice;
    src: url(Brice/Brice-Regular.otf);
}

@font-face {
    font-family:Aeonik;
    src: url(Aeonik/AeonikTRIAL-Regular.otf);
}

html

*
{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Navigation/Header */

nav
{
    background-color: #1D9A6C;
}

label.Name
{
    font-size: 5.5vh;
    margin-left: 5vw;
}

nav ul.Links
{
    float:right;
}

ul.Links
{
    display: flex;
    margin-top: 0.8vh;
}

li.List a.Link
{
    /* color: #0A2F51; */
    color:#033521;
    font-size: 3.5vh;
    margin-right: 2vw;
    font-weight: bold;
    font-family:Aeonik;
}

a.Link#active
{
    /* background-color: #137177; */
    background-color: #83cca1;
    padding: 1.5vh 1.5vw;
}

a.Link:hover
{
    /* background-color: #188977; */
    background-color: #6eb78b;
    padding: 1.5vh 1.5vw;
}

/* Navigation/Header */

/* Body */

div.Body
{
    margin-top: 8vh;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 5vh;
}

img.Image
{
    float: right;
    border-radius: 50%;
    height: 80vh;
    width: 40vw;
}

span.Greeting
{
    color: #1D9A6C;
    font-size: 8vh;
    font-weight: bolder;
    font-family:Aeonik;
}

label.Intro
{
    color: #1D9A6C;
    font-size: 8vh;
    font-weight: bolder;
    font-family:Aeonik;
}

h1.Name1
{
    font-family:Brice;
    color: #137177;
    font-size: 9vh;
    font-weight: normal;
}

ul.Skills
{
    margin-bottom: 20vh;
}

li.Skill
{
    list-style-type: square;
    margin-left: 1.5vw;
    margin-top: 1vh;
    font-size: 3.5vh;
    color: #188977;
    font-family:Aeonik;
}

div.Accounts
{
    display: flex;
}

p#Sentence
{
    font-size: 3.3vh;
    margin-top: 2.6vh;
    font-family:Aeonik;
    color: #188977;
}

img.ImageLogo
{
    margin-left: 3vh;
    height: 8vh;
    width: 4vw;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
{

    div.Body
    {
        margin-right: 0.8vw;
    }

img.Image
{
    height: 80vh;
    width: 100vw;
}

img.ImageLogo
{
    width: 10vw;
}

}

/* Body */



